@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
  --swits-background-color: #eee;
  --swits-principal-color: #f31d5d;
  --swits-secundary-color: #f31d5d;

  --swits-principal-font: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--swits-principal-font);
  text-decoration: none;
}

body {
  background-color: var(--swits-background-color);
}

/**
 * Header style
 * ==================================================
 */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--swits-principal-color);
  height: 100px;
  color: var(--swits-background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

#header-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
}

#back-link {
  color: var(--swits-background-color);
  text-transform: uppercase;
}

#header-layout ul {
width: 80px;
}

/* MODIFICANDO O VOLTAR - AMANDA (baseado no código do Caique)*/

#header-layout ul li{
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

#header-layout ul li a{
  text-decoration: none;
  color: white;
}


#header-layout ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #eee;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
  transform: scale(1.05);
}

#header-layout ul li:hover:after{
  width: 100%;
}

#back-link:hover {
  font-size: 1.1em;
  transition: ease all 0.3s;
}



#back-link:not(:hover) {
  transition: ease all 0.3s;
}

/*------------------fim da modificação----------------------*/

#title {
  color: var(--swits-background-color);
}

#download-icon {
  width: 32px;
}

#download-icon:hover {
  transform: scale(1.2);
  transition: ease all 0.3s;
  cursor: pointer;
}

#download-icon:not(:hover) {
  transition: ease all 0.3s;
}
/**
 * Main style
 * ==================================================
 */
main {
  position: relative;
  top: 100px;
  background-color: #fff;
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  height: fit-content;
  padding: 50px;
  box-shadow: 0 0 10px #00000010;
}

table {
  width: 100%;
}

#table-header {
  display: flex;
  width: 100%;
  background-color: var(--swits-secundary-color);
  padding: 24px 0;
  text-transform: uppercase;
  color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.table-row {
  display: flex;
  width: 100%;
  padding: 24px 0;
}
.table-row:nth-of-type(odd) {
  background-color: var(--swits-background-color);
}

th, td {
  flex: 1 1 20%;
  text-align: center;
}

.data-type {
  font-weight: 500;
}

.data-amount-transference {
  font-weight: 500;
  color: #e74c3c;
}

.data-amount-deposit {
  font-weight: 500;
  color: #4ad14a;
}




